<!DOCTYPE html>

<html>
<head>
    <!-- Metadata -->
	<meta charset="utf-8">
    
    <!-- Title -->
    <title>MSAIL</title>
    
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,700italic,400italic,600,600italic' rel='stylesheet' type='text/css'>
    
    <!-- CSS -->
    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/style.css" type="text/css">
</head>

<body><div id="page-wrap">
    <!-- Page Header -->
    <div id="page-header">
        <!-- Logo -->
		<a id="header-logo" href="/">
			<img src="theme/images/msail-logo-head.png">
		</a>
		<!-- Header Text -->
        <div id="header-text"><div>
            <a id="header-title" href="/">
                Michigan Student Artificial Intelligence Lab
            </a>
            <ul id="header-nav">
				{% for page in PAGES %}
					<li><a href="{{ SITEURL }}/{{ page.url }}">
						{{page.title}}
					</a></li>
				{% endfor %}
            </ul>
        </div></div>
    </div>
    
    <!-- Page Body -->
    <div id="page-content">
        {% block content %}
        {% endblock %}
    </div>
    
    <!-- Page Footer -->
    <div id="page-footer">
        Website by <b>Benjamin Bray</b> (<a href="mailto:benrbray@umich.edu">benrbray@umich.edu</a>)
    </div>
    
</div></body>
</html>